.root
{
    
    /*-fx-background-image:  url("backg.jpg");*/
    -fx-background-color: linear-gradient(to left, #373B44, #73C8A9);

}

#loginbtn
{
    /*-fx-background-color: linear-gradient(#db060c, #d5d9da , #ecd3bd);*/
    -fx-background-color: #73C8A9;
    -fx-font-size: 18pt ;
    -fx-text-fill: black;
    
    
    
}
#loginbtn:hover
{
    /*-fx-background-color: linear-gradient(#ecd3bd, #d5d9da , #db060c);*/
    -fx-background-color: #77CB44;
    -fx-cursor:hand;
}

#UsText
{
   -fx-font-size: 15px;
   -fx-font-family: "Arial Black";
   -fx-fill: #e10003;
   -fx-effect: innershadow( three-pass-box , rgba(255,222,255,0.5) , 6, 0.0 , 2 , 1 );
    
    
}
#PassText
{
    -fx-font-size: 15px;
   -fx-font-family: "Arial Black";
   -fx-fill: #e10003;
   -fx-effect: innershadow( three-pass-box , rgba(255,222,255,0.5) , 6, 0.0 , 2 , 1 );
    
}


#msgchatarea{
     -fx-font-family: Consolas;
     -fx-font-size: 20px;
  -fx-highlight-fill: #ff0000;
  -fx-highlight-text-fill: #000000;
  -fx-text-fill: #004400;
  -fx-background-fills: black;
   
}