.root
{
   -fx-background-color: linear-gradient(to left, #373B44, #73C8A9);
   /* -fx-background-image:  url("d.jpg");
    -fx-background-repeat: no-repeat;*/
-fx-background-size: cover, auto;
    
}


#rect
{
-fx-cursor:hand;
}

#Send
{
    -fx-background-color: linear-gradient(#373B44, #d5d9da , #73C8A9);
    -fx-font-size: 18pt ;
    -fx-text-fill: black;
    -fx-cursor:hand;

}

#Send:hover
{
    -fx-background-color: linear-gradient(#73C8A9, #d5d9da , #373B44);
    -fx-font-size: 18pt ;
    -fx-text-fill: black;
    -fx-cursor:hand;

}



#UsText
{
   -fx-font-size: 15px;
   -fx-font-family: "Arial Black";
   -fx-fill: #e10003;
   -fx-effect: innershadow( three-pass-box , rgba(255,222,255,0.5) , 6, 0.0 , 2 , 1 );
    
    
}
#PassText{
    -fx-font-size: 15px;
   -fx-font-family: "Arial Black";
   -fx-fill: #e10003;
   -fx-effect: innershadow( three-pass-box , rgba(255,222,255,0.5) , 6, 0.0 , 2 , 1 );
    
}


#msgchatarea{
    
  -fx-opacity: 0.7;
  -fx-font-size: 15px;
  -fx-control-inner-background:#000000;
  -fx-font-family: Consolas;
  -fx-highlight-fill: #004400;
  -fx-highlight-text-fill: #000000;
  -fx-text-fill: #004400;
  -fx-effect: innershadow( three-pass-box , rgba(255,0,255,0.5) , 6, 0.0 , 2 , 1 );
}

#msgsendarea
{
    -fx-opacity: 0.9;
  -fx-control-inner-background:#6c3423;
  -fx-font-family: Consolas;
  -fx-highlight-fill: #004400;
  -fx-highlight-text-fill: #000000;
  -fx-text-fill: #004400;
  -fx-effect: innershadow( three-pass-box , rgba(255,222,255,0.5) , 6, 0.0 , 2 , 1 );
}


#logout{
    /*-fx-background-color: linear-gradient(#85a422, #d5d9da , #eca257);*/
    -fx-background-color: #373B44;
    -fx-font-size: 18pt ;
    -fx-text-fill: black;
    -fx-cursor:hand;
}

#logout:hover{
    /*-fx-background-color: linear-gradient(#eca257, #d5d9da , #85a422);*/
    -fx-background-color: #73C8A9;
    -fx-font-size: 18pt ;
    -fx-text-fill: black;
    -fx-cursor:hand;
}


#status
{
    -fx-font-size: 25px;
   -fx-font-family: "Arial Black";
   -fx-text-fill:white;
   -fx-cursor:hand;
   /*-fx-fill:greenyellow;*/
   /*-fx-effect: innershadow( three-pass-box , rgba(25,0,25,0.5) , 6, 0.0 , 2 , 1 );*/
   
}

/*Server Window Table */

#TableView{
	-fx-opacity: 0.7;
  -fx-font-size: 16px;
  -fx-highlight-fill:green ;
  -fx-highlight-text-fill: #000000;
  -fx-text-fill: #004400;
  -fx-effect: innershadow( three-pass-box , rgba(255,222,255,0.5) , 6, 0.0 , 2 , 1 );
}


/*Section of invite and accept window */

#Label_Invite{
	 -fx-font-size: 25px;
	 -fx-text-fill:white;
	 -fx-background-color:black   ;
	 -fx-opacity: 0.6;
	 
}

#listinvited{
	-fx-opacity: 0.7;
  -fx-font-size: 20px;
  -fx-control-inner-background:#000000;
  -fx-font-family: Consolas;
  -fx-highlight-fill: #004400;
  -fx-highlight-text-fill: #000000;
  -fx-text-fill: #004400;
  -fx-effect: innershadow( three-pass-box , rgba(255,222,255,0.5) , 6, 0.0 , 2 , 1 );
}

#InviteBtn{
	 /*-fx-background-color: linear-gradient(#85a422, #d5d9da , #eca257);*/
    -fx-background-color: #373B44;
    -fx-font-size: 18pt ;
    -fx-text-fill: black;
    -fx-cursor:hand;
}

#AcceptBtn{
	 /*-fx-background-color: linear-gradient(#85a422, #d5d9da , #eca257);*/
    -fx-background-color: #373B44;
    -fx-font-size: 18pt ;
    -fx-text-fill: black;
    -fx-cursor:hand;
}

#InviteBtn:hover{
	 /*-fx-background-color: linear-gradient(#eca257, #d5d9da , #85a422);*/
    -fx-background-color: #73C8A9;
    -fx-font-size: 18pt ;
    -fx-text-fill: black;
    -fx-cursor:hand;
}

#AcceptBtn:hover{
	 /*-fx-background-color: linear-gradient(#eca257, #d5d9da , #85a422);*/
    -fx-background-color: #73C8A9;
    -fx-font-size: 18pt ;
    -fx-text-fill: black;
    -fx-cursor:hand;
}



