.bodybg{
  -fx-background-color: #73C8A9;  /* fallback for old browsers */
-fx-background-color: -webkit-linear-gradient(to left, #373B44, #73C8A9);  /* Chrome 10-25, Safari 5.1-6 */
-fx-background-color: linear-gradient(to left, #373B44, #73C8A9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.mainFxmlClass {

}
